{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "react",
    "prettier",
    "import"
  ],
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "codeFrame": true,
    "ecmaVersion":2016,
    "ecmaFeatures":{
      "jsx": true
    }
  }
}
